* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(endless-constellation.svg);
}

.container {
  border: 1px solid #232f52;
  color: #fff;
  height: 100vh;
  font-family: sans-serif;
  padding: 0px;
  margin: auto;
}

.title {
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

.logo {
  padding: 10px;
}

.image-logo {
  display: block;
  margin: auto;
  height: 90px;
  width: 90px;
}

main {
  padding: 10px;
  margin-top: 50px;
}

article {
  text-align: center;
}

.h2-title {
  padding: 20px;
  font-size: 20px;
}

.p1,
.p2 {
  margin: 10px;
}

.get-started-button {
  background-color: #a3aab5;
  border: 1px solid;
  border-radius: 50px;
  color: #232f52;
  font-size: 20px;
  margin: 30px 10px;
  padding: 10px;
  width: 50%;
}

.get-started-button:hover {
  color: #fff;
  background-color: #232f52;
  border: 1px inset;
}

.signup-div {
  display: none;
}

.form-title {
  text-align: center;
  padding: 5px;
}

.signup-form {
  padding: 0 20px;
}

label {
  font-size: 15px;
  padding: 5px 5px;
}

.signup-name:invalid:required {
  color: red;
}

.input {
  border: 1px solid #232f52;
  border-radius: 5px;
  margin: 5px 0px 20px;
  width: 100%;
  padding: 6px;
  font-size: 15px;
  outline: #232f52;
}

.signup-submit-button,
.signin-submit-button {
  background-color: #a3aab5;
  color: #232f52;
  font-size: 16px;
  clear: both;
}

.show-login,
.show-register {
  text-align: center;
  font-size: 13px;
}

.signin-link,
.signup-link {
  color: #fff;
}

.signin-link:hover,
.signup-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.signin-div {
  display: none;
}

.forgot-password {
  float: right;
  text-decoration: none;
  color: #fff;
  margin: 2px 0;
  font-size: 12px;
}

/* profile */

.profile-container {
  background-color: #fff;
  border: 1px solid #232f52;
  color: #232f52;
  height: 100vh;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 10px 20px;
}

.menu-header {
  display: none;
}

.profile-main {
  margin: 5px;
}

.password-container {
  border: 1px solid;
  color: #232f52;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  cursor: pointer;
}

.password-wrapper {
  display: flex;
  justify-content: space-between;
  flex: 1;
  background-color: #fff;
  border: 1px solid #232f52;
}

.password-wrapper:hover {
  background-color: #a3aab5;
}

.password-itself,
.delete-button,
.password-title {
  padding: 10px;
}

.password-title {
  font-weight: 600;
}

.delete-button {
  background-color: #232f52;
  color: #fff;
  border: 1px solid #a3aab5;
}

.delete-button:hover {
  background-color: rgb(167, 8, 8);
  border: 1px solid red;
}

.menu-div {
  background-color: #254b8c;
  width: 100%;
  height: 0%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  transition: 0.1s ease-in;
}

ul {
  margin-top: 50px;
}

li {
  margin: 10px;
  font-size: 18px;
  border: 1px solid #a3aab5;
  padding: 10px;
  color: #fff;
}

li:hover {
  background-color: #232f52;
  color: #232f52;
}

.logout-profile {
  color: #fff;
  text-decoration: none;
}

.logout-profile:hover {
  color: #232f52;
}

.li-logout:hover {
  color: #232f52;
}

/* save password */
.save-password-modal {
  border: 1px solid #232f52;
  background-color: #a3aab5;
  width: 80%;
  margin: auto;
  color: #232f52;
  position: fixed;
  z-index: 1;
  top: 20%;
  left: 10%;
  display: none;
}

.close-save-password-modal {
  float: right;
  margin: 5px;
}

.save-password-h2 {
  text-align: center;
  margin: 10px;
  clear: both;
}

.save-password-form {
  width: 90%;
  margin: 20px auto;
}

/* create password */

.profile-h1 {
  font-size: 18px;
}


.create-password-modal {
  border: 1px solid #232f52;
  background-color: #a3aab5;
  width: 80%;
  margin: auto;
  color: #232f52;
  position: fixed;
  z-index: 1;
  top: 20%;
  left: 10%;
  display: none;
  padding: 10px;
}

.inputDiv {
  border: 1px solid #232f52;
  border-radius: 5px;
  display: flex;
  margin: 30px 5px;
}

.create-password-input {
  border: none;
  padding: 2px;
  flex: 1;
  padding: 20px;
  outline: none;
}

.copy {
  background-color: #232f52;
  border: none;
  padding: 20px;
  color: #fff;
  outline: none;
}

.wrapper {
  margin: 10px 5px;
  padding: 5px;
  display: flex;
}

.p {
  flex: 1;
}

.passwordLenght {
  width: 40px;
  border: 1px solid #232f52;
  outline: none;
}

.checkbox {
  padding: 5px;
}

.generate-button {
  width: 100%;
  background-color: #232f52;
  border-radius: 5px;
  color: #fff;
  margin: 5px;
  padding: 20px;
  border: none;
  outline-style: none;
  text-transform: uppercase;
}

.modal {
  position: absolute;
  top: 15%;
  right: 10%;
  z-index: 1;
  background-color: #232f52;
  color: #fff;
  border: 1px solid #232f52;
  width: 25%;
  display: none;
  cursor: pointer;
}

.modal1 {
  border: 1px solid #fff;
  padding: 15px;
}

li:hover {
  background-color: rgb(222, 208, 245);
}

.title-div {
  background-color: #a3aab5;
  width: 60%;
  margin: auto;
  color: #232f52;
  position: fixed;
  z-index: 1;
  top: 20%;
  left: 20%;
  display: none;
}

.title-form {
  width: 50%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
}

.label {
  color: #fff;
  text-align: center;
  width: 100%;
  font-weight: 700;
}

.submit {
  color: #fff;
  margin: 10px 0;
  background-color: #232f52;
  outline: none;
  border: none;
}

.titleInput,
.submit {
  padding: 10px;
  outline: #fff;
}

.div {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.no-password-created {
  opacity: 0.5;
  font-size: 30px;
  text-align: center;
  margin: 50px;
}

@media only screen and (min-width: 768px) {

  body {
    background-color: #232f52;
  }

  .container,
  .profile-container {
    width: 90%;
    padding: 50px;
    margin: 10px auto;
    height: 100vh;
  }

  .menu-div {
    background-color: #254b8c;
    width: 90%;
    height: 0;
    position: fixed;
    left: 5%;
    z-index: 1;
    overflow: hidden;
    transition: 0.1s ease-in;
  }

  .create-password-modal, .save-password-modal {
    width: 50%;
    top: 20%;
    left: 25%;
  }

@media only screen and (min-width: 960px) {

  .container,
  .profile-container {
    width: 70%;
    padding: 50px;
    margin: 10px auto;
    height: 100vh;
  }

  .menu-div {
    background-color: #254b8c;
    width: 70%;
    height: 0;
    position: fixed;
    left: 15%;
    /* right: 12%; */
    z-index: 1;
    overflow: hidden;
    transition: 0.1s ease-in;
  }

  .create-password-modal, .save-password-modal {
    width: 40%;
    top: 20%;
    left: 30%;
  }

  .title-div {
    border: 1px solid #232f52;
    border-radius: 5px;
    background-color: #a3aab5;
    width: 30%;
    height: 25%;
    margin: auto;
    color: #232f52;
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 35%;
    display: none
  }
}

@media only screen and (min-width: 1200px) {

  .container,
  .profile-container {
    width: 60%;
    padding: 50px;
    margin: 10px auto;
    height: 99vh;
  }

  .menu-div {
    width: 60%;
    height: 0;
    left: 20%;
  }

  .create-password-modal, .save-password-modal {
    width: 40%;
    top: 20%;
    left: 30%;
  }

  .title-div {
    border: 1px solid #232f52;
    border-radius: 5px;
    background-color: #a3aab5;
    width: 30%;
    height: 25%;
    margin: auto;
    color: #232f52;
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 35%;
    display: none
  }
}

